<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10">
            <div class="container">
                <div class="row">
                  <div class="col-2">
                    <app-sidebar></app-sidebar>
                  </div>
                  <div class="col-10">
                    <table class="table align-midle table-hover ">
                      <thead>
                        <tr>
                          
                          <th scope="col">ID</th>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Password</th>
                          <th scope="col">Role</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of users">
                          <td>{{user.userID}}</td>                         
                          <td>{{user.userFName}}</td>
                          <td>{{user.userLName}}</td>
                          <td>{{user.email}}</td>
                          <td>{{user.password}}</td>
                          <td>{{user.userRole}}</td>
                          <td><button class="btn btn-danger" (click)="onDelete(2)">Remove</button></td>
                        </tr> 
                        <!-- (click)="onDelete(user)" -->
                      </tbody>
                    </table>
                    <a routerLink="/adduser" class=" text-decoration-none ">
                      <i class="bi bi-person-plus-fill"></i>
                    </a>
                    
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

